{% extends 'base.html' %}
{% load staticfiles %}
{% load blog_tags %}
{#{% load cache %}#}
{% block rightcontent %}
    <aside class="sidebar">
{#        {% cache 86400 'sidebar_cache' %}#}
    <div class="widget widget_text">
     <div class="textwidget">
      <div class="social">
{#       <a href="https://weibo.com/" rel="external nofollow" title="新浪微博" target="_blank"> #}
{#	   <i class="sinaweibo fa fa-weibo"></i></a>#}
       <a href="https://github.com/KenZP/MyBlog" rel="external nofollow" title="Github" target="_blank">
	   <i class="tencentweibo fa fa-github"></i></a>
       <a class="weixin"><i class="weixins fa fa-weixin"></i>
        <div class="weixin-popover">
         <div class="popover bottom in">
          <div class="arrow"></div>
          <div class="popover-title"></div>
          <div class="popover-content"><img src="{% static 'images/20190725215824.jpg' %}"></div>
         </div>
        </div> 
		</a>
       <a href="http://mail.qq.com/cgi-bin/qm_share?t=qm_mailme&email=398984762@qq.com" rel="external nofollow" title="Email"
	   target="_blank"><i class="email fa fa-envelope-o"></i></a>
       <a href="{% url 'blog:rss' %}" rel="external nofollow" target="_blank" title="订阅本站"><i class="rss fa fa-rss"></i></a>
      </div>
     </div>
    </div>
{#    {% endcache %}#}
{#        {% cache 86400 'hot_article_cache' %}#}
    <div class="widget widget_metaslider_widget">
     <!--热门专题-->
     <div class="title"><h2>热门专题</h2></div><!-- meta slider -->
     <div style="width: 100%;" class="metaslider metaslider-nivo metaslider-2698 ml-slider meta-slider">
      <div id="metaslider_container_2698">
       <div class="slider-wrapper theme-bar">
        <div class="ribbon"></div>
        <div id="metaslider_2698" class="nivoSlider">
            {% get_banner_right as banners %}
            {% for banner in banners %}
                <a href="{{ banner.url }}" target="_blank">
                    <img src="{{ MEDIA_URL }}{{ banner.image }}" height="300" width="320" data-title="{{ banner.title }}" title="{{ banner.title }}" alt="{{ banner.title }}" class="slider-2698 slide-1720"> </a>
            {% endfor %}
        </div>
       </div>
      </div>
      <!--热门专题结束-->
{#      <script type="text/javascript">#}
{#                        var metaslider_2698 = function ($) {#}
{#                            $('#metaslider_2698').nivoSlider({#}
{#                                boxCols: 7,#}
{#                                boxRows: 5,#}
{#                                pauseTime: 3000,#}
{#                                effect: "random",#}
{#                                controlNav: false,#}
{#                                directionNav: true,#}
{#                                pauseOnHover: true,#}
{#                                animSpeed: 600,#}
{#                                prevText: "&lt;",#}
{#                                nextText: "&gt;",#}
{#                                slices: 15,#}
{#                                manualAdvance: false#}
{#                            });#}
{#                        };#}
{#                        var timer_metaslider_2698 = function () {#}
{#                            var slider = !window.jQuery ? window.setTimeout(timer_metaslider_2698, 100) : !jQuery.isReady ? window.setTimeout(timer_metaslider_2698, 1) : metaslider_2698(window.jQuery);#}
{#                        };#}
{#                        timer_metaslider_2698();#}
{#                    </script>#}
     </div>
     <!--// meta slider-->
    </div>
{#    {% endcache %}#}
    <!--广告位-->
{#        {% cache 86400 'ads_cache' %}#}
    <div class="widget widget_text">
     <div class="textwidget">
      <a href="/"><img style="width:100%" src="{% static 'images/广告.jpg' %}"></a>
     </div>
    </div>
{#    {% endcache %}#}
    <!--广告位结束-->
{#        {% cache 86400 'date_cache' %}#}
    <div class="widget widget_archive">
     <!--文章归档-->
        {% get_article_public_date as dates %}
     <div class="title">
      <h2>文章归档</h2>
     </div>
     <ul>
         {% if dates %}
             {% for date in dates %}
                 <li><a href="{% url 'blog:date' date|date:'Y' date|date:'m' %}">{{ date|date:'Y-m' }}</a></li>
             {% endfor %}
         {% else %}
             <div>近期无文章发布</div>
         {% endif %}
     </ul>
    </div>
{#        {% endcache %}#}
    <!--文章归档结束-->
    <!--猜你喜欢-->
    <div class="widget d_postlist">
     <div class="title"><h2>猜你喜欢</h2></div>
     <ul>
        {% get_like_articles as like_articles %}
         {% for like_article in like_articles %}
             <li> <a href="{% url 'blog:article_detail' like_article.id %} " title="{{ like_article.title }}">
			 <span class="thumbnail"><img src="{{ MEDIA_URL }}{{ like_article.image }}" alt="{{ like_article.title }}"></span> 
			 <span class="text">{{ like_article.title }}</span>&nbsp; 
			 <i class="fa fa-calendar" aria-hidden="true"></i> 
			 <span class="muted">{{ like_article.add_time.month }}&nbsp;月，{{ like_article.get_week_time }}&nbsp;周 之前</span>&nbsp; 
			 <i class="fa fa-eye" aria-hidden="true"></i> 
			 <span class="muted">{{ like_article.read_nums }}</span> 
			 </a> 
			 </li>
         {% endfor %}

     </ul>
    </div>
    <!--猜你喜欢结束-->
    <!--标签云-->
{#     {% cache 86400 'tags_cache' %}#}
      {% get_all_tags as tags %}
    <div class="widget d_tag">
     <div class="title"><h2>标签云</h2></div>
     <div class="d_tags">
         {% for tag in tags %}
             {% get_tag_article_list tag as tag_articles %}
             <a title="{{ tag_articles.count }}个话题" href="{% url 'blog:tag' tag.name %}">{{ tag.name }} ({{ tag_articles.count }})</a>
         {% endfor %}
     </div>
    </div>
{#     {% endcache %}#}
    <!--标签云结束-->
    <!--友情链接-->
{#        {% cache 86400 'friends_cache' %}#}
    <div class="widget widget_links">
     <div class="title">
      <h2>友情链接</h2>
     </div>
        {% get_friend_link as friendlinks %}
     <ul class="xoxo blogroll">
         {% for friendlink in friendlinks %}
             <li><a href="{{ friendlink.link }}" target="_blank">{{ friendlink.name }}</a></li>
         {% endfor %}
     </ul>
    </div>
{#    {% endcache %}#}
    <!--友情链接结束-->
    <!--精品推荐-->
            <div class="widget widget_text">
                <div class="title"><h2>精品推荐</h2></div>
     <div class="text widget">
       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;广告位诚邀加盟
     </div>
    </div>
    <!--精品推荐结束-->
    <div class="widget widget_text">
    </div>
   </aside>
{% endblock rightcontent %}
